<div class="row">
    <div class="col-md-12">
        <!-- Page Header -->
        <div class="page-header page-header-bleed-right">
          <div class="actions pull-right">
            <a href="#"><span class="pficon pficon-refresh"></span> Refresh Results</a>
          </div>
          <h1>Shared Imports Validation</h1>
        </div>
      </div><!-- End Page Header -->

      <!-- List View -->
      <div class="list-group list-view-pf"  ng-show="sharedimports && sharedimports.length>0" id="importsList">

        <div data-link="#" class="list-group-item" ng-repeat="import in sharedimports" ng-click="showDetail(sharedimport.id)" ng-class-odd="'bg-light'">
          <a href="#" class="list-group-item-link"></a>
          <div class="list-view-pf-checkbox">
            <input type="checkbox">
          </div>
          <div class="list-view-pf-actions">
            <button class="btn btn-default">Action</button>
            <div class="dropdown pull-right dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="fa fa-plane list-view-pf-icon-sm"></span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  {{import.id}}
                </div>
                <div class="list-group-item-text">
                  {{repo.storekey}} <a href="#">repository</a>.
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <span class="pficon pficon-screen"></span>
                  <strong>Pathmatch</strong>{{import.pathmatch}}
                </div>
                <div class="list-view-pf-additional-info-item">
                  <span class="pficon pficon-cluster"></span>
                  <strong>Checksum</strong>{{import.checksum}}
                </div>
                <div class="list-view-pf-additional-info-item">
                  <span class="pficon pficon-container-node"></span>
                  <strong>Path</strong>{{import.path}}
                </div>
                <div class="list-view-pf-additional-info-item">
                  <span class="pficon pficon-image"></span>
                  <strong>md5</strong>{{import.md5}}
                </div>
              </div>
            </div>
          </div>
        </div><!-- list-group-item -->

      </div><!-- End List View -->
      

</div>