<div class="list-group list-view-pf list-view-pf-view">
  <div class="col-md-12">
    <!-- Page Header -->
    <div class="page-header page-header-bleed-right">
      <div class="actions pull-right">
        <a href="#!remoterepos"><span class="pficon pficon-refresh"></span> Refresh Results</a>
      </div>
      <h1><strong>{{ header | uppercase }}</strong></h1>
    </div>
  </div><!-- End Page Header -->


  <!-- List View -->
  <div class="list-group list-view-pf" ng-show="repos && repos.length>0" id="repoList">

    <!-- filter -->
    <div class="col-md-4 col-lg-4 col-sm-6">
      <!--          <span> FILTER: </span><input type="search" ng-model="q" placeholder="filter names..." aria-label="filter repositoriess" />-->
      <form role="form" class="search-pf has-button">
        <div class="form-group has-clear">
          <div class="search-pf-input-group">
            <label for="search1" class="sr-only">Search</label>
            <input ng-model="q" placeholder="filter names..." aria-label="filter repositoriess" id="search1"
                   type="search" class="form-control">
            <button type="button" class="clear" aria-hidden="true"><span class="pficon pficon-close"></span></button>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
        </div>
      </form>
    </div>

    <hr class="col-lg-12 col-md-12 col-sm-12" />
    <!-- data list-->
    <div data-link="#" class="list-group-item col-md-12 col-lg-12 col-sm-12"
         ng-repeat="repo in repos | orderBy:'name' | startFrom:(pageNumber - 1)*pageSize | limitTo:pageSize | filter:q as results track by repo.name"
         ng-click="showDetail(repo.key)" ng-class-odd="'bg-light'">
      <a href="#" class="list-group-item-link"></a>
      <div class="list-view-pf-actions">
        <button class="btn btn-primary" ng-click="changeRepoProtocol(repo)">Change</button>
        <button class="btn btn-cancel" ng-click="reverseRepoProtocol(repo)">Reverse</button>
        <button class="btn btn-info" ng-click="scanRepo(repo)">Scan</button>
      </div>

      <div class="list-view-pf-main-info">
        <div class="list-view-pf-left">
          <span ng-if='(repo.matched / repo.compared) == 1'
                class="pficon pficon-ok list-view-pf-icon-md list-view-pf-icon-success"></span>
          <span ng-if='(repo.matched / repo.compared) >= 0.80 && (repo.matched / repo.compared) <= 0.99 '
                class="pficon pficon-warning-triangle-o list-view-pf-icon-md list-view-pf-icon-warning"></span>
          <span ng-if='(repo.matched / repo.compared) < 0.80'
                class="pficon pficon-error-circle-o list-view-pf-icon-md list-view-pf-icon-danger"></span>
          <span ng-if='repo.compared==0'
                class="pficon pficon-add-circle-o list-view-pf-icon-md list-view-pf-icon-info"></span>
        </div>
        <div class="list-view-pf-body">
          <div class="list-view-pf-description">
            <div class="list-group-item-heading">
              {{repo.name | uppercase }}
            </div>
            <div class="list-group-item-text">
              <a href="{{repo.url}}" target="_blank">{{ repo.url }}</a>
              <span class="separator">|</span>
              <a href="#!contents/{{repo.key}}">show contents</a>
            </div>
          </div>
          <div class="list-view-pf-additional-info">
            <div class="list-view-pf-additional-info-item">
              <span class="pficon pficon-screen"></span>
              <strong>{{repo.contentcount}}</strong> Content
            </div>
            <div class="list-view-pf-additional-info-item">
              <span class="pficon pficon-cluster"></span>
              <strong>{{repo.compared}}</strong> Compared
            </div>
            <div class="list-view-pf-additional-info-item">
              <span class="pficon pficon-container-node"></span>
              <strong>{{repo.matched}}</strong> Match
            </div>
            <div class="list-view-pf-additional-info-item">
              <span class="pficon pficon-image"></span>
              <strong>{{repo.notmatched}}</strong> Dont Match
            </div>
            <div class="separator"></div>
            <div class="list-view-pf-additional-info-item">
              <span class="pficon pficon-trend-down"></span>
              <strong>{{repo.stage}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div><!-- list-group-item -->
  </div><!-- End List View -->
  <div ng-if="repos.length==0" class="spinner spinner-lg" style="position: absolute;height: 100px;width: 100px;top: 50%;left: 50%;margin-left: -50px;margin-top: -50px;background-size: 100%;"></div>
  <div class="col-md-12 col-md-12 col-sm-12" ng-show="repos && repos.length>0">
    <!-- Pagination -->
    <pf-pagination
      page-size="pageSize"
      page-number="pageNumber"
      num-total-items="numTotalItems"
    >
    </pf-pagination>
    <!-- End Pagination -->
  </div>
</div>
